In [ ]:
import pandas as pd
import numpy as np
import gdown
import spacy

from tqdm import tqdm

In [ ]:
def get_saved_topics(name):
  if name.lower() == "under_20":
    url = 'https://drive.google.com/uc?id=1-Kqy9_zW03RA7rIL2LG1ys46Jcy0hfrI'
  elif name.lower() == "over_20":
    url = 'https://drive.google.com/uc?id=1-JRkKkt_O4l4ChYkyzNRtiPnCk1sUgRj'
  elif name.lower() == "students":
    url = 'https://drive.google.com/uc?id=1-Hc5GPPRCgGbZQW8bnJz_ZVj0ftXOEj0'
  elif name.lower() == "males":
    url = 'https://drive.google.com/uc?id=1-5HeyFaKc2oInTumsPuwcOJlISeipfp4'
  elif name.lower() == "females":
    url = 'https://drive.google.com/uc?id=1-4lkj22i68ehKOQCOst-86xNLNmHTDUz'
  elif name.lower() == "everyone":
    url = 'https://drive.google.com/uc?id=1-0tcFpmvsLqpS6ZkKOKXMZONtDxf8u_J'
  else:
    return("Data not found")

  output = 'data.csv'
  gdown.download(url, output, quiet=True)
  df = pd.read_csv("/content/data.csv", header = 0)

  return(df)

def get_saved_ngrams(name):
  if name.lower() == "under_20":
    url = 'https://drive.google.com/uc?id=1lFaW7_5SybK4qatlxiRYbcNzg1mWU108'
  elif name.lower() == "over_20":
    url = 'https://drive.google.com/uc?id=1scGPlVNXpbss_6lCd7tb86q-O8vbnfnk'
  elif name.lower() == "students":
    url = 'https://drive.google.com/uc?id=1kw8mP90JkdvLMoTkpL1glaa96-ndFfOG'
  elif name.lower() == "males":
    url = 'https://drive.google.com/uc?id=1JVlnSwEZB3z7Mh7f1MpGwW6D3Z97NaqP'
  elif name.lower() == "females":
    url = 'https://drive.google.com/uc?id=1EVvUrNFdf1xXm_DSh6g11DiNvPR851BS'
  elif name.lower() == "everyone":
    url = 'https://drive.google.com/uc?id=1rX8mF5B7LUPlyE8gAAbCgOt8CTIckdf6'
  else:
    return("Data not found")

  output = 'data.csv'
  gdown.download(url, output, quiet=True)
  df = pd.read_csv("/content/data.csv")

  return(df)

def get_cleaned_text(name):
  if name.lower() == "under_20":
    url = 'https://drive.google.com/uc?id=1k6ffBUYsP_minYM8aLMHt3d2R5VPyxLT'
  elif name.lower() == "over_20":
    url = 'https://drive.google.com/uc?id=1-30OTonl_yo_vR5tmM_64cvWm0-numjt'
  elif name.lower() == "students":
    url = 'https://drive.google.com/uc?id=1-3_EYAOLkRiJVGyDoh8JKAhBz86WAqNO'
  elif name.lower() == "males":
    url = 'https://drive.google.com/uc?id=1-DfE1v17H16AUoy_053AYaBQx1aW4j_B'
  elif name.lower() == "females":
    url = 'https://drive.google.com/uc?id=1-7IMqT_BhyGhbB4mrHugoL_CkklkEfCN'
  elif name.lower() == "everyone":
    url = 'https://drive.google.com/uc?id=1-HMgFmn30kTYxb4M89ZbgaZtnMrZSVyH'
  else:
    return("Data not found")

  output = 'data.csv'
  gdown.download(url, output, quiet=True)
  df = pd.read_csv("/content/data.csv")

  return(df["0"])

In [ ]:
## Get raw data
url = 'https://drive.google.com/uc?id=1zYkSOkWtm8ihduhalNH3KCXm5VjTZdl5'
output = 'data.csv'
gdown.download(url, output, quiet=False)
df = pd.read_csv("/content/data.csv")
df.head()

Downloading...
From: https://drive.google.com/uc?id=1zYkSOkWtm8ihduhalNH3KCXm5VjTZdl5
To: /content/data.csv
100%|██████████| 1.43G/1.43G [00:21<00:00, 66.9MB/s]

,Unnamed: 0,id,gender,age,occupation,zodiac,tokens,text
0,0,1000331,female,37,indUnk,Leo,"['Well', 'everyone', 'got', 'going', 'morning'...","Well, everyone got up and going this mo..."
1,1,1000866,female,17,Student,Libra,"['Yeah', 'sorry', 'writing', 'whole', 'I', 'pr...","Yeah, sorry for not writing for a whol..."
2,2,1004904,male,23,Arts,Capricorn,"['cupid', 'please', 'hear', 'cry', 'cupid', 'p...","cupid,please hear my cry, cupid, please..."
3,3,1005076,female,25,Arts,Cancer,"['mention', 'longer', 'deal', 'friday', 'night...",and did i mention that i no longer have...
4,4,1005545,male,25,Engineering,Sagittarius,"['B', 'Logs', 'The', 'Business', 'Blogs', 'Par...",B-Logs: The Business Blogs Paradox ...

In [ ]:
## Dividing Data Into Demographics
Under_20 = df.loc[df["age"]<=20].reset_index(drop=True)
Over_20  = df.loc[df["age"]>20].reset_index(drop=True)
Males    = df.loc[df["gender"]=="male"].reset_index(drop=True)
Females  = df.loc[df["gender"]=="female"].reset_index(drop=True)
Students = df.loc[df["occupation"]=="Student"].reset_index(drop=True)
Everyone = df

In [ ]:
## Get most common topics
Under_20_topics = get_saved_topics("Under_20")
Over_20_topics  = get_saved_topics("Over_20")
Students_topics = get_saved_topics("Students")
Females_topics  = get_saved_topics("Females")
Males_topics    = get_saved_topics("Males")
Everyone_topics = get_saved_topics("Everyone")

In [ ]:
## Get most common ngrams
Under_20_ngrams = get_saved_ngrams("Under_20")
Over_20_ngrams  = get_saved_ngrams("Over_20")
Students_ngrams = get_saved_ngrams("Students")
Females_ngrams  = get_saved_ngrams("Females")
Males_ngrams    = get_saved_ngrams("Males")
Everyone_ngrams = get_saved_ngrams("Everyone")

In [ ]:
## Get Cleaned data
Under_20_cleaned = get_cleaned_text("Under_20")
Over_20_cleaned  = get_cleaned_text("Over_20")
Students_cleaned = get_cleaned_text("Students")
Females_cleaned  = get_cleaned_text("Females")
Males_cleaned    = get_cleaned_text("Males")
Everyone_cleaned = get_cleaned_text("Everyone")

In [ ]:
Under_20_topics.head()

,Nouns,Nouns.1,Nouns.2,Nouns.3,Subjs,Subjs.1,Subjs.2,Subjs.3,Dobjs,Dobjs.1,Dobjs.2,Dobjs.3,Pobjs,Pobjs.1,Pobjs.2,Pobjs.3
0,words_1,tfidf,words_2,count,words_1,tfidf,words_2,count,words_1,tfidf,words_2,count,words_1,tfidf,words_2,count
1,people,32.73203528760799,people,4841,people,35.58480218997651,people,3161.0,life,20.406887092819726,life,922.0,friend,11.762545575757228,people,146.0
2,friend,30.973948048123386,friend,3030,that,18.319570452607774,that,1090.0,friend,18.77454538957406,thing,865.0,school,10.193364386233371,friend,127.0
3,life,25.336129093922903,life,3021,friend,16.927013682348203,thing,973.0,thing,18.568424682817778,people,865.0,life,9.706258123081314,life,122.0
4,school,24.07154846424938,school,2734,life,16.605395930902873,life,956.0,people,17.556163799399265,friend,691.0,people,9.367367087921135,school,101.0

In [ ]:
## Print most important nouns according to TFIDF for each group
pd.concat([Under_20_topics["Nouns"][1:50],Over_20_topics["Nouns.2"][1:50],Students_topics["Nouns.2"][1:50],Females_topics["Nouns.2"][1:50],Males_topics["Nouns.2"][1:50],Everyone_topics["Nouns.2"][1:50]],
          axis = 1, keys = ["Under_20","Over_20","Students","Females","Males","Everyone"])

In [ ]:
n = 51
Type = "Nouns.2"
pd.concat([Under_20_topics[Type][1:n],Over_20_topics[Type][1:n],Students_topics[Type][1:n],Females_topics[Type][1:n],Males_topics[Type][1:n],Everyone_topics[Type][1:n]],
          axis=1,
          keys = ["Under_20","Over_20","Students","Females","Males","Everyone"]
          )

   Under_20  Over_20 Students  Females    Males Everyone
1    people   people   people   people   people   people
2    friend     work   friend     life     life     life
3      life    thing     life   friend    thing   friend
4    school     life   school    night     work    thing
5     thing    night    thing    thing   friend     work
6      love   friend    night     work    night    night
7       guy     love     love     love      guy      guy
8     night      guy      guy      guy    movie     love
9       fun      job     work     home   school   school
10     work     home     home   school     blog     blog
11     home     blog      fun     year     game     home
12     blog      day    movie   person    world    movie
13    movie     year     blog      day    place    world
14     game    movie    class     girl     love    place
15      day    place     girl    place      day      day
16   person  morning      day  morning     year     game
17    class     girl   person    world     home     year
18     girl    world     nbsp     book      man      fun
19     book     book     game      fun   person     book
20      man     part     song    movie     post      job
21    world      man      man     word     part  morning
22     song  weekend     talk     blog     book     girl
23      mom   person    world      man    point     part
24     room      bit      mom     part     girl      man
25    place     post    place      mom     word   person
26     talk     game     part    house      fun   family
27     post   school     hope      job      end     word
28  morning      car      end      car      car     post
29     part     name     post  weekend     mind     time
30    house     need      bit     time      bit    class
31     word     word  morning     need    story    point
32     need    story     name      bit     time     head
33      end     time     word     song   course     song
34      bit    money     year    woman      job      car
35     time   family     time     head     idea     mind
36      car      end     book    heart   reason      bit
37     mind   course     mind     mind     name   reason
38     name    point      car     room      com    woman
39     hope      fun   reason   family    money      eye
40   reason     idea     need     name     fact    story
41     hand    woman    house     call     need     hand
42      eye     hand     room     show    class     hope
43   summer    child    guess     hand  problem     need
44  tonight     head     call    point     hand      end
45     head      com     hour     hour     hour     fact
46    point     mind     head  tonight     head  problem
47     hour     hope    point     talk  morning     hour
48     test   couple      dad      end    woman  weekend
49    music   reason     hand      eye     song     call
50    think     call   family    class     site     idea

In [ ]:
n = 50
data = Everyone_topics
pd.concat([data["Nouns"][1:n],data["Subjs"][1:n],data["Dobjs"][1:n],data["Pobjs"][1:n]],axis=1)

       Nouns      Subjs     Dobjs    Pobjs
1     people     people      life   people
2     friend       life     thing   friend
3       life    someone    people   school
4       work      thing    friend     life
5     school       that      work    thing
6      night     friend    school     work
7      thing        guy     movie    night
8       love       work      love     song
9        guy        god     place    house
10      blog     person      game      fun
11     movie     school      blog    place
12      game        mom      mind      guy
13      home        dad       fun     town
14       fun       love  question     fact
15   morning        man     world    world
16     world       girl     house    movie
17      year      world      word   person
18      word       blog   someone      day
19      girl       hope      book     love
20       day      movie      song     site
21     place        kid   problem     room
22    person       game       guy     hour
23       job       word       car   course
24       mom      house       job     mind
25      book       book      fact    music
26      song       post      hope   minute
27       bit   whatever     sleep     idea
28   weekend      place      idea     hope
29     class       head   picture     word
30    family     others     money   reason
31       car     parent      home    story
32       man       know      trip     home
33      post     family     story     shit
34       end     reason    reason  morning
35      part       mind      part     blog
36      hour        fun      help      end
37     house    thought      show     time
38      time       look       god      man
39     music        you      care     part
40      name       need       end   others
41       dad       site    person  thought
42      idea       pain     music    think
43     sleep       body    chance       pm
44      head       show      test  country
45      pain  everybody   thought  weekend
46      call    teacher     class     girl
47  computer       part      pain    sheet
48     story        job      food  someone
49      mind       hell      head     city

In [ ]:
def select_random_rows(DF, n_rows, seed = None):
    random_rows = DF.sample(n = n_rows, random_state = seed)
    return random_rows

## Scans through sentences in a corpus and finds the ones including the target word.
def find_sentences_with_word(doc, target_word):
  nlp = spacy.load('en_core_web_sm')
  doc = nlp(doc)
  sentences = [sent for sent in doc.sents]

  target_sentences = []
  for sentence in sentences:
    if any(token.text.lower() == target_word.lower() for token in sentence):
            target_sentences.append(sentence.text)

  result = pd.DataFrame({'Sentences': target_sentences})
  return result

def find_sentences_from_docs(docs, target_word):
  Sentences = pd.DataFrame(columns = ['Sentences'])
  for doc in tqdm(docs, "Scanning documents"):
    results = find_sentences_with_word(doc, target_word)
    Sentences = pd.concat([Sentences, results], axis = 0).reset_index(drop=True)

  return Sentences

In [ ]:
data = Everyone
n_docs = 25
Seed = 42
# Data = select_random_rows(data, n_rows = n_docs, seed = Seed)

Data = select_random_rows(Under_20, n_rows = n_docs, seed = Seed)
school_u20  = find_sentences_from_docs(Data['text'], "school")
# movie  = find_sentences_from_docs(Data['text'], "movie")

# Data = select_random_rows(Over_20, n_rows = n_docs, seed = Seed)
# work  = find_sentences_from_docs(Data['text'], "work")
# job_o20  = find_sentences_from_docs(Data['text'], "job")
# family  = find_sentences_from_docs(Data['text'], "family")
# kid  = find_sentences_from_docs(Data['text'], "kid")

# Data = select_random_rows(Students, n_rows = n_docs, seed = Seed)
# school  = find_sentences_from_docs(Data['text'], "school")
# class_  = find_sentences_from_docs(Data['text'], "class")
# music  = find_sentences_from_docs(Data['text'], "music")

# Data = select_random_rows(Females, n_rows = n_docs, seed = Seed)
# love  = find_sentences_from_docs(Data['text'], "love")
# heart  = find_sentences_from_docs(Data['text'], "heart")
# work_females  = find_sentences_from_docs(Data['text'], "work")
# job_females  = find_sentences_from_docs(Data['text'], "job")

# Data = select_random_rows(Males, n_rows = n_docs, seed = Seed)
# job_males  = find_sentences_from_docs(Data['text'], "job")
# money  = find_sentences_from_docs(Data['text'], "money")
# friends  = find_sentences_from_docs(Data['text'], "friend")


# Weapon  = find_sentences_from_docs(Data['text'], "Weapon")
# Destruction  = find_sentences_from_docs(Data['text'], "destruction")
# House  = find_sentences_from_docs(Data['text'], "house")
# Weekend  = find_sentences_from_docs(Data['text'], "weekend")
# summer  = find_sentences_from_docs(Data['text'], "summer")
# people  = find_sentences_from_docs(Data['text'], "people")
# classs  = find_sentences_from_docs(Data['text'], "class")
# work    = find_sentences_from_docs(Data['text'], "work")
# teacher = find_sentences_from_docs(Data['text'], "teacher")
# book   = find_sentences_from_docs(Data['text'], "book")
# word   = find_sentences_from_docs(Data['text'], "word")
# mom   = find_sentences_from_docs(Data['text'], "mom")
# dad   = find_sentences_from_docs(Data['text'], "dad")
# iraq      = find_sentences_from_docs(Data['text'], "iraq")
# war       = find_sentences_from_docs(Data['text'], "war")
# bush      = find_sentences_from_docs(Data['text'], "bush")
# president = find_sentences_from_docs(Data['text'], "president")
# knitting = find_sentences_from_docs(Data['text'], "knitting")
# yarn = find_sentences_from_docs(Data['text'], "yarn")

Scanning documents: 100%|██████████| 25/25 [00:37<00:00,  1.50s/it]

In [ ]:
friends

                                            Sentences
0   no more vomitting....but can still barely eat ...
1            download juneau by funeral for a friend.
2   Heres my goodbyes to all my friend soutside of...
3   You were a good experience for me, and on occa...
4   Adam archer; you are the most amazing friend I...
..                                                ...
57  :: Accept an invitation, en route, to sub for ...
58  and we smoke two bowls :-:- Stoned now, I slow...
59  Posted by  urlLink Hello                      ...
60  urlLink        you know i was just reading a b...
61           i had a friend who called me that in hs.

[62 rows x 1 columns]

In [ ]:
Everyone_ngrams.head(20)

               2_grams  count                            3_grams  count.1
0    ('last', 'night')  20277            ('George', 'W', 'Bush')      981
1     ('feel', 'like')  16745           ('New', 'York', 'Times')      868
2     ('look', 'like')  10486         ('make', 'feel', 'better')      690
3   ('even', 'though')   8204           ('make', 'feel', 'like')      683
4    ('would', 'like')   7095            ('New', 'York', 'City')      669
5     ('dont', 'know')   6377         ('really', 'feel', 'like')      594
6      ('get', 'back')   6096         ('dream', 'last', 'night')      540
7   ('high', 'school')   6007   ('really', 'looking', 'forward')      528
8      ('http', 'www')   5859   ('Necessary', 'Evil', 'Triumph')      490
9       ('Oh', 'well')   5621        ('Evil', 'Triumph', 'Good')      490
10     ('year', 'ago')   5576         ('Triumph', 'Good', 'Men')      490
11  ('pretty', 'much')   5562  ('weapon', 'mass', 'destruction')      481
12  ('really', 'good')   5324         ('sleep', 'last', 'night')      454
13    ('come', 'back')   5209          ('feel', 'like', 'going')      453
14  ('best', 'friend')   5201          ('last', 'night', 'went')      445
15     ('New', 'York')   5071          ('couple', 'week', 'ago')      435
16   ('little', 'bit')   4779          ('last', 'couple', 'day')      406
17       ('e', 'mail')   4774             ('two', 'year', 'ago')      404
18     ('let', 'know')   4653           ('dont', 'even', 'know')      395
19  ('pretty', 'good')   4581            ('get', 'back', 'work')      368